Repository front-end-by-rimantas/25-grupe-portfolio-neuron, pull requests merged in 2021-04, with the labels that each got.

#29 title, fonts and paragraph base style updae
  css/init/base.css
  css/init/reset.css
  fonts/Poppins/OFL.txt
  fonts/Poppins/Poppins-Black.ttf
  fonts/Poppins/Poppins-BlackItalic.ttf
  fonts/Poppins/Poppins-Bold.ttf
  fonts/Poppins/Poppins-BoldItalic.ttf
  fonts/Poppins/Poppins-ExtraBold.ttf
  fonts/Poppins/Poppins-ExtraBoldItalic.ttf
  fonts/Poppins/Poppins-ExtraLight.ttf
  fonts/Poppins/Poppins-ExtraLightItalic.ttf
  fonts/Poppins/Poppins-Italic.ttf
  fonts/Poppins/Poppins-Light.ttf
  fonts/Poppins/Poppins-LightItalic.ttf
  fonts/Poppins/Poppins-Medium.ttf
  fonts/Poppins/Poppins-MediumItalic.ttf
  fonts/Poppins/Poppins-Regular.ttf
  fonts/Poppins/Poppins-SemiBold.ttf
  fonts/Poppins/Poppins-SemiBoldItalic.ttf
  fonts/Poppins/Poppins-Thin.ttf
  fonts/Poppins/Poppins-ThinItalic.ttf
Labels: CSS

#33 Blog section
  css/custom-home.css
  img/blog/blog-1.jpeg
  img/blog/blog-2.jpeg
  img/blog/blog-3.jpeg
  index.html
  package.json
Labels: CSS, CSS: responsive, HTML

#35 Base update (style, js link)
  css/init/base.css
  css/init/layout.css
  css/init/reset.css
  index.html
Labels: CSS, CSS: responsive, HTML

#37 Services section
  css/3rd-party/flaticon/Flaticon.eot
  css/3rd-party/flaticon/Flaticon.svg
  css/3rd-party/flaticon/Flaticon.ttf
  css/3rd-party/flaticon/Flaticon.woff
  css/3rd-party/flaticon/Flaticon.woff2
  css/3rd-party/flaticon/flaticon.css
  css/components/services-card.css
  css/custom-home.css
  index.html
  js/components/services/services.js
  js/data/servicesData.js
  js/mainHome.js
Labels: CSS, JS

#38 Master update
  README.md
  css/3rd-party/flaticon/Flaticon.eot
  css/3rd-party/flaticon/Flaticon.svg
  css/3rd-party/flaticon/Flaticon.ttf
  css/3rd-party/flaticon/Flaticon.woff
  css/3rd-party/flaticon/Flaticon.woff2
  css/3rd-party/flaticon/flaticon.css
  css/components/button.css
  css/components/services-card.css
  css/custom-home.css
  css/init/base.css
  css/init/layout.css
  css/init/reset.css
  css/init/variables.css
  fonts/Poppins/OFL.txt
  fonts/Poppins/Poppins-Black.ttf
  fonts/Poppins/Poppins-BlackItalic.ttf
  fonts/Poppins/Poppins-Bold.ttf
  fonts/Poppins/Poppins-BoldItalic.ttf
  fonts/Poppins/Poppins-ExtraBold.ttf
  fonts/Poppins/Poppins-ExtraBoldItalic.ttf
  fonts/Poppins/Poppins-ExtraLight.ttf
  fonts/Poppins/Poppins-ExtraLightItalic.ttf
  fonts/Poppins/Poppins-Italic.ttf
  fonts/Poppins/Poppins-Light.ttf
  fonts/Poppins/Poppins-LightItalic.ttf
  fonts/Poppins/Poppins-Medium.ttf
  fonts/Poppins/Poppins-MediumItalic.ttf
  fonts/Poppins/Poppins-Regular.ttf
  fonts/Poppins/Poppins-SemiBold.ttf
  fonts/Poppins/Poppins-SemiBoldItalic.ttf
  fonts/Poppins/Poppins-Thin.ttf
  fonts/Poppins/Poppins-ThinItalic.ttf
  fonts/fontawesome/fontawesome-webfont.svg
  img/.gitempty
  img/Neuron_logo.png
  img/backgrounds/contact-bg.jpg
  img/backgrounds/footer-bg.jpg
  img/backgrounds/header_bg.jpg
  img/backgrounds/partner-bg.jpg
  img/blog/blog-1.jpeg
  img/blog/blog-2.jpeg
  img/blog/blog-3.jpeg
  index.html
  js/components/services/services.js
  js/data/servicesData.js
  js/mainHome.js
  package.json
Labels: CSS, CSS: responsive, HTML

#39 Header
  css/components/header.css
  index.html
  js/components/header/header.js
  js/mainHome.js
Labels: CSS, CSS: responsive, HTML, JS

#40 Header update
  css/components/header/header.css
  css/components/header/search.css
  css/custom-home.css
  index.html
  js/components/header/search.js
  js/mainHome.js
Labels: CSS, CSS: responsive, HTML, JS

#42 Header ( large screen dropdown menu)
  css/components/header/dropdown-menu.css
  css/components/header/header.css
  css/custom-home.css
  index.html
Labels: CSS, HTML

#41 Services section
  css/components/services-card.css
  index.html
  js/components/services/services.js
Labels: CSS, HTML, JS

#45 adjusted header to fit hero
  css/components/header/header.css
  css/components/hero.css
  index.html
Labels: CSS

#46 Project section
  css/components/project.css
  css/custom-home.css
  img/project/1.jpg
  img/project/2.jpg
  img/project/3.jpg
  index.html
Labels: CSS, HTML

#50 fixed header & hero positioning
  css/components/header/header.css
  css/components/hero.css
Labels: CSS

#53 Contacts
  css/components/contactUs.css
  index.html
Labels: CSS, HTML

#51 Blog
  css/custom-home.css
  index.html
  js/components/blog/Blog.js
  js/data/blogData.js
  js/mainHome.js
Labels: CSS, HTML, JS

#54 chatbox initial commit
  css/components/button.css
  css/components/chatbox.css
  css/components/contactUs.css
  css/components/footer.css
  css/custom-home.css
  img/chat.png
  index.html
  js/components/chatbox/chatbox.js
Labels: CSS, HTML, JS

#56 Chatbox
  css/components/button.css
  css/components/chatbox.css
  js/components/chatbox/chatbox.js
Labels: CSS, JS

#59 Header Nav
  css/components/header/dropdown-menu.css
  css/components/header/header.css
  css/components/header/menu.css
  css/custom-home.css
  index.html
  js/components/header/Logo.js
  js/components/header/Nav.js
  js/components/header/ShopSearch.js
  js/components/header/TopLeftText.js
  js/components/header/TopRightIcons.js
  js/components/header/header.js
  js/components/header/sDropdownMenu.js
  js/components/header/stickyHeader.js
  js/data/headerData.js
  js/mainHome.js
Labels: CSS, HTML, JS

#55 added subscribe section, bg-title changes in base.css
  css/components/partner.css
  css/components/project.css
  css/components/sub.css
  css/custom-home.css
  css/init/base.css
  index.html
Labels: CSS, HTML

#62 Header (js fix)
  js/components/header/Header.js
Labels: JS

#64 Blog carousel
  css/components/blog.css
  css/custom-home.css
  js/components/blog/Blog.js
  js/components/blog/renderBlogCarousel.js
  js/mainHome.js
Labels: CSS, JS

#66 About section
  css/3rd-party/flaticon.css
  css/components/about-video.css
  css/components/about.css
  css/components/achievements.css
  css/components/header/menu.css
  css/components/hero.css
  css/components/services-card.css
  css/custom-home.css
  css/init/base.css
  img/about_video/about-video-part.png
  img/count-shape.png
  index.html
  js/components/achievements/Achievements.js
  js/components/achievements/achievementsData.js
  js/mainHome.js
Labels: CSS, CSS: responsive, HTML, JS
